<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="5" parallel="tests">
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="uk.co.automationtesting.AddRemoveItemBasketTest">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test2">
        <classes>
            <class name="uk.co.automationtesting.OrderCompleteTest">
            </class>
        </classes>
    </test>
</suite>